.card {
    margin: 2em ;
    padding: 1em;
    height: 150px;
    width: 300px;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform .2s easy;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}

.card:hover {
    transform: scale(1.1);
}

.card__image {
    display: flex;
    justify-content: center;
}

.card__image img {
    width: 60px;
    transform: scale(1.8);
    border-radius: 50%;
    padding: 1.5em;
}

.card__body {
    padding: 1em 1em 1em 1em;
}

.card__title {
    font-weight: 800;
    font-size: 1.5rem;
}

.card__title {
    font-family: 'Nunito Sans', sans-serif;;
    font-weight: 500;
    font-size: 20px;
    color: #DD472A;
}

.card__username {
    margin: 0;
}
